# User defined
data
throne/ckpts
caches
coco_subset.txt
objects365_subset_subset.txt

# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
misc

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb
